


<!-- Catalogue Section -->
<section id="catalogue-section" class="catalogue-section space-250-top-bottom">
	<div class="container">
		<div class="row space-250-bottom">
			<div class="columns text-center small-12 medium-10 medium-offset-1 space-100-bottom">
				<div class="h1 font-h strong text-blue text-uppercase">Catalogue</div>
				<div class="h4 font-h text-blue-dark">Curated AI-Catalogue for your Ho.Re.Ca needs!</div>
				<div class="p text-blue space-25-top">Explore our Complete Catalogue.</div>
			</div>
			<!-- Catalogue Box -->
			<div class="catalogue-box columns small-12">
				<div class="catalogue-frame">
					<!-- Catalogue -->		
					<div id="catalogue" class="catalogue fill-white">

						<div class="filter radius-50 space-50 space-50-top">
							<!-- <label class="button inline fill-blue">Choose Categories:</label> -->
							<label class="p inline strong text-blue-dark space-50">Select Categories:</label>
							<ul class="filter-tabs space-50-top space-25-bottom space-50-left-right radius-50">
								{% for category in master.category_data.data.category %}
								{% if category.catid == category.main_parent %}
								<li>
									<label class="pill inline" for="cb_prime{{ category.name }}">
										<input class="cb_prime hidden" type="radio" name="parentCategoryPrime" id="cb_prime{{ category.name }}">
										<span class="title label strong inline cursor-pointer">
											{%# {{ category.name }} ({{ category.catid }} : {{ category.parent }} : {{ category.main_parent }}) %}
											{{ category.name }}
										</span>
									</label>
								</li>
								{% endif %}
								{% endfor %}
							</ul>
						</div>
						<div class="listing">
							<ul>
								{% for category in master.category_data.data.category %}
								{% if category.catid == category.main_parent %}
								<!-- Parent Categories List -->
								<input class="swimlane cb_slave hidden" type="radio" name="parentCategorySlave" id="cb_slave{{ category.name }}">
								<li class="category-list carousel small-card">
									<div class="title p strong text-neutral-3 space-50-top space-100-left">{{ category.name }}</div>
									<ul class="carousel-list">
										{% for product in master.product_data.data.variations %}
											{% if product.category == category.name %}
											<li class="item carousel-list-item">
												<div class="card">
													<div class="thumbnail" style="background-image: url('https://bgc.sixorbit.com{{product.image}}');"></div>
													<div class="space-25" style="overflow: clip;">
														<div class="isvid space-25-top small text-blue-light">{{ product.isvid }}</div>
														{% assign prodname = product.variation_name | split: "-" %}
														<div class="title p strong text-blue text-titlecase">{{ prodname.first | capitalize }}</div>
														<div class="spec label text-blue-light space-min-top">Brand : {{ product.brand }}</div>
														{% for attributes in product.attributes %}
															<div class="spec label text-neutral-4">{{ attributes.attr_name | capitalize }} : {{ attributes.attr_value | capitalize }}</div>
														{% endfor %}
														{% if product.package_quantity > 0 %}
														<div class="spec label text-neutral-4">Pack of : {{ product.package_quantity | floor }}&nbsp;{{ product.c_package_measurement }}</div>
														{% endif %}
														{% if product.measured_qty > 0 %}
														<div class="spec label text-neutral-4">{{ product.measured_unit | capitalize }} of : {{ product.measured_qty | floor }}</div>
														{% endif %}
														<div class="price p text-blue space-min-top">&#8377;.{{ product.price | floor }}/-</div>
													</div>
												</div>
											</li>
											{% endif %}
										{% endfor %}
									</ul>

									<!-- Sub Counter -->
									{% capture subs %}
										{% for subcategory in master.category_data.data.category %}
											{% if category.catid == subcategory.main_parent and category.name != subcategory.name %}{{subcategory.name}}, {% endif %}	
										{% endfor %}
									{% endcapture %}
									{% assign subcount = subs | split: ", " %}
									<!-- End: Sub Counter -->

									<!-- Sub Categories -->
									{% if subcount.size > 1 %}
									<div class="sub-categories ">
										<!-- Sub Cat Filter -->
										<div class="filter radius-50 space-50 space-50-top">
											<label class="p inline strong text-blue-dark space-50">Select {{ category.name }} Sub-categories:</label>
											<ul class="filter-tabs space-50-top space-25-bottom space-50-left-right radius-50">
												{% for subcategory in master.category_data.data.category %}
												{% if category.catid == subcategory.main_parent and category.name != subcategory.name %}
												<li>
													<label class="pill inline" for="cb_prime{{ subcategory.name }}">
														<input class="cb_prime hidden" type="checkbox" id="cb_prime{{ subcategory.name }}">
														<span class="title label strong inline cursor-pointer">
															{{ subcategory.name }}
														</span>
													</label>
												</li>
												{% endif %}
												{% endfor %}
											</ul>
										</div>
										<!-- END: Sub Cat Filter -->
										<!-- Sub Cat Listing -->
										<ul>
											{% for subcategory in master.category_data.data.category %}
											{% if category.catid == subcategory.main_parent and category.name != subcategory.name %}
											<input class="swimlane cb_slave hidden" type="checkbox" id="cb_slave{{ subcategory.name }}">
											<li class="category-list carousel small-card">
												<div class="title p strong text-neutral-3 space-50-top space-100-left">{{ subcategory.name }}</div>
												<ul class="carousel-list">
													{% for product in master.product_data.data.variations %}
														{% if product.category == subcategory.name %}
														<li class="item carousel-list-item">
															<div class="card">
																<div class="thumbnail" style="background-image: url('https://bgc.sixorbit.com{{product.image}}');"></div>
																<div class="space-25" style="overflow: clip;">
																	<div class="isvid space-25-top small text-blue-light">{{ product.isvid }}</div>
																	{% assign prodname = product.variation_name | split: "-" %}
																	<div class="title p strong text-blue text-titlecase">{{ prodname.first | capitalize }}</div>
																	<div class="spec label text-blue-light space-min-top">Brand : {{ product.brand }}</div>
																	{% for attributes in product.attributes %}
																		<div class="spec label text-neutral-4">{{ attributes.attr_name | capitalize }} : {{ attributes.attr_value | capitalize }}</div>
																	{% endfor %}
																	{% if product.package_quantity > 0 %}
																	<div class="spec label text-neutral-4">Pack of : {{ product.package_quantity | floor }}&nbsp;{{ product.c_package_measurement }}</div>
																	{% endif %}
																	{% if product.measured_qty > 0 %}
																	<div class="spec label text-neutral-4">{{ product.measured_unit | capitalize }} of : {{ product.measured_qty | floor }}</div>
																	{% endif %}
																	<div class="price p text-blue space-min-top">&#8377;.{{ product.price | floor }}/-</div>
																</div>
															</div>
														</li>
														{% endif %}
													{% endfor %}
												</ul>
											</li>
											{% endif %}
											{% endfor %}
										</ul>
										<!-- END: Sub Cat Listing -->
									</div>
									{% endif %}
									<!-- END: Sub Categories -->
								</li>
								{% endif %}
								{% endfor %}
							</ul>
						</div>
						<div class="cta hidden">
							<div class="cart row fill-white space-50">
								<div class="total h4 strong font-h">Total: ₹ 4,82,529/-</div>
								<div class="items p strong font-h text-neutral-5">Total Items: 20</div>
								<div class="units p strong font-h text-neutral-5">Total Units: 500</div>
								<a href="https://google.com" target="_blank" class="action button fill-blue text-white">Get Quote</a>
							</div>
							<div class="download row fill-orange space-75">
								<input type="checkbox" id="catDownloadMin" class="download-toggle hidden">
								<label for="catDownloadMin" class="minimise">Minimise</label>
								<div class="action columns small-9">
									<div class="h4 font-h strong">Complete Catalogue</div>
									<div class="p space-25-top space-150-bottom">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
									<a href="https://google.com" target="_blank" class="button fill-white text-orange">Download Now</a>
								</div>
							</div>
						</div>
					</div>
					<!-- End: Catalogue -->
				</div>
				<div class="shadow fill-light"></div>
			</div>

			<script type="text/javascript">
				
				const primeCheckboxes = document.querySelectorAll('.cb_prime');
				const slaveCheckboxes = document.querySelectorAll('.cb_slave');

				primeCheckboxes.forEach((primeCheckbox) => {
					// console.log(primeCheckbox);
					primeCheckbox.addEventListener('change', () => {
						const slaveCheckboxId = `cb_slave${primeCheckbox.id.replace('cb_prime', '')}`;
						// console.log(slaveCheckboxId);
						const slaveCheckbox = document.getElementById(slaveCheckboxId);

						if (slaveCheckbox) {
							slaveCheckbox.checked = primeCheckbox.checked;
						}
					});
				});

			</script>

			<!-- End: Catalogue Box -->


		</div>
		<div class="row space-75-top">
			<div class="columns small-12 large-6">
				<div class="heading space-75-bottom">
					<div class="h2 font-h space-50-bottom text-blue"><span class="strong text-blue-dark">Elevate your operation with tailored:</span> End-to-end Ho.Re.Ca Solutions</div>
					<div class="p" style="width: 75%;">Complete the form to initiate the conversation and embark on a journey towards greater success.</div>
					<div class="h4 font-h text-blue-dark-dark space-75-top">OR</div>
					<div class="h5 font-h strong text-blue-dark-dark">Call our Help Desk <br>between 10am to 6pm IST</div>
					<a href="tel:+9180-41784600" class="h2 font-h strong text-blue inline">080-41784600</a>
				</div>
			</div>
			<div class="columns small-12 large-5 large-offset-1">
				<div class="form-box fill-blue radius-25 space-50" style="box-shadow: 0 0 1px 1px rgba(0, 102, 255, 0.2), 0 0 var(--space-200) 0px rgba(0, 102, 255, 0.3);">
					<form id="homeGeneralLeads" action="https://docs.google.com/forms/d/e/1FAIpQLSeG6nfZX6S_nq29su85Olfx_5UT31lj8Mj50WJIwbrVa1wPTw/formResponse" method="POST" enctype="multipart/form-data">
					<div class="row">
						<div class="columns small-12 space-25">
							<div class="p">Best value in the industry.</div>
							<div class="h4">Get a Custom Offer:</div>
						</div>
						<div class="columns small-12 large-6 space-25">
							<label class="block">
								<span class="label form-label text-uppercase inline cursor-pointer space-min fill-blue">Full Name <span class="text-orange">*</span></span>
								<input type="text" name="entry.1421501943" required class="input-field block">
							</label>
						</div>
						<div class="columns small-12 large-6 space-25">
							<label class="block">
								<span class="label form-label text-uppercase inline cursor-pointer space-min fill-blue">Email ID <span class="text-orange">*</span></span>
								<input type="text" name="entry.839199106" required class="input-field block">
							</label>
						</div>
						<div class="columns small-12 large-6 space-25">
							<label class="block">
								<span class="label form-label text-uppercase inline cursor-pointer space-min fill-blue">Phone Number <span class="text-orange">*</span></span>
								<input type="text" name="entry.636038964" required class="input-field block">
							</label>
						</div>
						<div class="columns small-12 large-6 space-25">
							<label class="block">
								<span class="label form-label text-uppercase inline cursor-pointer space-min fill-blue">Industry</span>
								<select name="entry.203903897" class="input-field block">
									<option value="blank" disabled="disabled" selected="selected">Select</option>
									<option value="Hotel">Hotel</option>
									<option value="Restaurant">Restaurant</option>
									<option value="Bakery">Bakery</option>
									<option value="Catering">Catering</option>
									<option value="Cloud Kitchen">Cloud Kitchen</option>
									<option value="Others">Others</option>
								</select>
							</label>
						</div>
						<div class="columns small-12 space-25">
							<label class="block">
								<span class="label form-label text-uppercase inline cursor-pointer space-min fill-blue">Requirement</span>
								<textarea class="input-field block" name="entry.1788879696"></textarea>
							</label>
						</div>
						<div class="columns small-12 space-25">
							<label class="block">
								<span class="label form-label text-uppercase inline cursor-pointer space-min invisible">Submit</span>
								<button class="button fill-blue-dark-dark block" type="submit">Request a Quote</button>
							</label>
						</div>
					</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End: Catalogue Section -->





