{% include 'parts/head.liquid' %}




		<!-- Intro Section -->
		<section id="intro-section" class="intro-section overflow-x-clip space-250-top">
			<div class="container">
				<div class="row intro">
					<div class="logo columns small-12 medium-8 large-6">
						<img class="block" src="media/logo-combination-eng.png">
					</div><br>
					<div class="columns small-12 medium-8 large-7 space-150-top">
						<div class="title text-blue h4 font-h strong space-100-bottom">
							<!-- End-to-end Commercial Solutions <span class="show-small-block show-large-inline">in <span class="js-immigration-text text-orange text-underline"></span></span> -->
							End-to-end Commercial Solutions in <span class="js-immigration-text text-orange text-underline"></span>
						</div>
						<a href="#catalogue-section" class="button fill-blue">View Catalogue</a>
					</div>
					<div class="intro-video">
						<div class="video-embed video-embed-bg">
							<iframe src="https://www.youtube-nocookie.com/embed/Q6tUAYtPdNQ?playlist=Q6tUAYtPdNQ&html5=1&color=white&disablekb=1&fs=0&autoplay=1&loop=1&modestbranding=1&playsinline=1&rel=0&showinfo=0&enablejsapi=1&mute=1&controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
						</div>
					</div>
					<div class="points columns small-10 medium-9 large-6 space-150-top">
						<div class="row">
							<div class="columns small-6 medium-3 space-50-right">
								<div class="h4 font-h strong text-blue">15K+</div>
								<div class="p space-50-bottom">Happy Customers</div>
							</div>
							<div class="columns small-6 medium-3 space-50-right">
								<div class="h4 font-h strong text-blue">60+</div>
								<div class="p space-50-bottom">Years Of Experience</div>
							</div>
							<div class="columns small-6 medium-3 space-50-right">
								<div class="h4 font-h strong text-blue">12+</div>
								<div class="p space-50-bottom">Countries Served</div>
							</div>
							<div class="columns small-6 medium-3 space-50-right">
								<div class="h4 font-h strong text-blue">100+</div>
								<div class="p space-50-bottom">Associated Brands</div>
							</div>
							<div class="description p columns small-12 space-50-top">Bharat Glass & Crockeries is your comprehensive hospitality partner, providing Kitchenware, Glassware, Cutlery, Bar Equipment, Flatware, Crockery, Buffet Ware, Banquet Equipment, Electrical Appliances, and Housekeeping supplies, along with Customised Commercial Kitchens and Turnkey Project Management solutions.</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End: Intro Section -->
		<script>
			var typing=new Typed(".js-immigration-text", {
				strings: ["", "Hotels", "Restaurants", "Bakery", "Catering"],
				typeSpeed: 100,
				backSpeed: 40,
				loop: true,
			});
		</script>



		<!-- Catalogue Section -->
		{% include 'parts/catalogue.liquid' %}
		<!-- End: Catalogue Section -->



		<!-- Visit Section -->
		<section id="visit-section" class="visit-section fill-blue-dark-dark">
			<div class="row img-cover" style="background-image: url('media/bg-dining.jpg');">
				<div class="container">
					<div class="columns small-12 medium-10 medium-offset-1 large-6 large-offset-6 space-250-top-bottom">
						<div class="card fill-white radius-50 space-100 box-shadow-blue" style="backdrop-filter: blur(10px) brightness(150%); -webkit-backdrop-filter: blur(10px) brightness(150%); background: rgba(172, 219, 246, 0.5);">
							<div class="h3 font-h strong text-blue-dark-dark">Book a Guided Tour at our Experience Center</div>
							<div class="h5 font-h text-blue-dark-dark space-min-top">Where innovation meets culinary mastery.</div>
							<div class="p space-50-top-bottom">Immerse yourself in a journey of flavors, design, and cutting-edge solutions at our Experience Center. Book your exclusive tour now to explore firsthand the latest trends in kitchenware, discover innovative culinary equipment, and witness bespoke solutions that redefine the art of cooking. Our expert guides will lead you through a captivating experience, showcasing the perfect fusion of form and function. Don't miss the opportunity to elevate your culinary endeavors – schedule a visit now!</div>
							<a href="" class="button fill-blue inline">Book a Visit, Now!</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End: Visit Secti.on -->



		<!-- Industry Section -->
		<section id="industry-section" class="industry-section overflow-x-clip">
			<div class="row">
				<div class="container space-250-top-bottom">
					<div class="columns text-center small-12 medium-10 medium-offset-1 large-8 large-offset-2">
						<div class="h2 font-h strong text-blue text-uppercase">Industry Expertise</div>
						<div class="h4 font-h text-blue-dark">We recognize the needs of each sector.</div>
						<div class="p space-50-top-bottom">Explore our Customised Services and Smart Product Catalogue, <br><span class="text-blue text-uppercase">Select your Industry below</span>.</div>
					</div>
					<div class="industry-tabs columns small-12 large-8 large-offset-2 space-100-top">
						<div class="tabs">
							<div class="tab">
								<a href="#hotel-section" class="card text-center box-shadow-blue">
									<img src="media/icon-hotel.png" style="width: 50%;">
									<div class="h5 font-h text-uppercase strong space-50-top">Hotels</div>
									<div class="label text-blue">Equip Yourself for Service Excellence</div>
								</a>
							</div>
							<div class="tab">
								<a href="#restaurant-section" class="card text-center box-shadow-orange">
									<img src="media/icon-restaurant.png" style="width: 50%;">
									<div class="h5 font-h text-uppercase strong space-50-top" style="letter-spacing: -0.4px;">Restaurant</div>
									<div class="label text-orange">Elevate Your Dining Experience</div>
								</a>
							</div>
							<div class="tab">
								<a href="#catering-section" class="card text-center box-shadow-green">
									<img src="media/icon-catering.png" style="width: 50%;">
									<div class="h5 font-h text-uppercase strong space-50-top">Catering</div>
									<div class="label text-green">Upgrade Your Setup to Perfection</div>
								</a>
							</div>
							<div class="tab">
								<a href="#bakery-section" class="card text-center box-shadow-red">
									<img src="media/icon-bakery.png" style="width: 50%;">
									<div class="h5 font-h text-uppercase strong space-50-top">Bakery</div>
									<div class="label text-red">Superior Quality for Customer Delight</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="hotel-section" class="row hotel position-relative">
				<div class="wave-set">
					<div class="wave" style="background-image: url('media/wave-blue.svg');"></div>
					<div class="wave" style="background-image: url('media/wave-blue.svg');"></div>
					<div class="wave" style="background-image: url('media/wave-blue.svg');"></div>
				</div>
				<div class="squares" style="background-image: url('media/squares-blue.svg');"></div>
				<div class="container space-250-top-bottom">
					<div class="columns small-12 medium-7">
						<div class="thumbnail"><img class="block" src="media/cutout-hotel.png"></div>
					</div>
					<div class="columns small-12 medium-5">
						<div class="title h6 font-h strong text-uppercase inline space-25-top-bottom space-50-left-right opacity-75 fill-blue radius-min">BGC for : Hotels</div>
						<div class="heading h2 font-h strong space-50-top">Deliver Excellence at Every Table</div>
						<div class="sub-heading h4 font-h strong space-50-top-bottom text-blue">Elevate your hospitality experience</div>
						<div class="description p space-50-bottom">Transform your hospitality experience with premium kitchenware, exquisite glassware, and state-of-the-art banquet equipment. We provide industry-leading solutions designed to exceed hotel standards. From the kitchen to the dining table, our collection embodies quality, functionality, and sophistication.</div>
						<a href="#catalogue-section" class="button inline fill-blue">Explore Products</a>
					</div>
					<div class="columns small-12">
						<div class="points space-150-top">
							<div class="point">
								<div class="card row fill-white box-shadow-blue space-25 radius-50">
									<div class="columns small-9 large-5 space-25">
										<div class="icon"><img class="block" src="media/icons_cart_blue.png"></div>
									</div>
									<div class="columns small-12 large-7 space-25">
										<div class="h3 font-h text-blue">8K+</div>
										<div class="p">PRODUCT <br>SKUs</div>
									</div>
								</div>
							</div>
							<div class="point">
								<div class="card row fill-white box-shadow-blue space-25 radius-50">
									<div class="columns small-9 large-5 space-25">
										<div class="icon"><img class="block" src="media/icons_cater_blue.png"></div>
									</div>
									<div class="columns small-12 large-7 space-25">
										<div class="h3 font-h text-blue">500+</div>
										<div class="p">BANQUET <br>EQUIPMENT</div>
									</div>
								</div>
							</div>
							<div class="point">
								<div class="card row fill-white box-shadow-blue space-25 radius-50">
									<div class="columns small-9 large-5 space-25">
										<div class="icon"><img class="block" src="media/icons_building_blue.png"></div>
									</div>
									<div class="columns small-12 large-7 space-25">
										<div class="h3 font-h text-blue">6K SFT</div>
										<div class="p">EXPERIENCE <br>CENTER</div>
									</div>
								</div>
							</div>
							<div class="point">
								<div class="card row fill-white box-shadow-blue space-25 radius-50">
									<div class="columns small-9 large-5 space-25">
										<div class="icon"><img class="block" src="media/icons_broom_blue.png"></div>
									</div>
									<div class="columns small-12 large-7 space-25">
										<div class="h3 font-h text-blue">300+</div>
										<div class="p">HOUSEKEEPING <br>ESSENTIALS</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="restaurant-section" class="row restaurant position-relative">
				<div class="wave-set">
					<div class="wave" style="background-image: url('media/wave-orange.svg');"></div>
					<div class="wave" style="background-image: url('media/wave-orange.svg');"></div>
					<div class="wave" style="background-image: url('media/wave-orange.svg');"></div>
				</div>
				<div class="squares" style="background-image: url('media/squares-orange.svg');"></div>
				<div class="container space-250-top-bottom">
					<div class="columns small-12 medium-6">
						<div class="thumbnail"><img class="block" src="media/cutout-restaurant.png"></div>
					</div>
					<div class="columns small-12 medium-5 medium-offset-1">
						<div class="title h6 font-h strong text-uppercase inline space-25-top-bottom space-50-left-right opacity-75 fill-orange radius-min">BGC for : Restaurants</div>
						<div class="heading h2 font-h strong space-50-top">Crafting Experiences to Remember</div>
						<div class="sub-heading h4 font-h strong space-50-top-bottom text-orange">Unmatched Dining & Bar Solutions</div>
						<div class="description p space-50-bottom">Revitalize dining spaces with our selection of cutlery, crockery, and bar equipment. Our comprehensive collection of end-to-end kitchen equipment for optimal performance and efficiency. Explore our menu planning services, where creativity meets practicality for a perfect culinary blend. From innovative dishes to optimized resources, we bring your culinary vision to life.</div>
						<a href="#catalogue-section" class="button inline fill-orange">Explore Products</a>
					</div>
					<div class="columns small-12">
						<div class="points space-150-top">
							<div class="point">
								<div class="card row fill-white box-shadow-orange space-25 radius-50">
									<div class="columns small-12 medium-5 large-12 space-25">
										<div class="icon"><img class="block radius-25" src="media/point-restaurant-1.jpg"></div>
									</div>
									<div class="columns small-12 medium-7 large-12 space-25">
										<div class="h4 font-h text-orange">Satisfied Clients</div>
										<div class="p text-neutral-5">Trusted by over 500+ restaurants, we have a proven track record of successfully guiding businesses from equipment and glassware selection to menu planning.</div>
									</div>
								</div>
							</div>
							<div class="point">
								<div class="card row fill-white box-shadow-orange space-25 radius-50">
									<div class="columns small-12 medium-5 large-12 space-25">
										<div class="icon"><img class="block radius-25" src="media/point-restaurant-2.jpg"></div>
									</div>
									<div class="columns small-12 medium-7 large-12 space-25">
										<div class="h4 font-h text-orange">Certified Brands</div>
										<div class="p text-neutral-5">With 300+ industry-leading brands to ensure the highest quality & reliability. Our certified products and solutions are backed by trusted names in the industry.</div>
									</div>
								</div>
							</div>
							<div class="point">
								<div class="card row fill-white box-shadow-orange space-25 radius-50">
									<div class="columns small-12 medium-5 large-12 space-25">
										<div class="icon"><img class="block radius-25" src="media/point-restaurant-3.jpg"></div>
									</div>
									<div class="columns small-12 medium-7 large-12 space-25">
										<div class="h4 font-h text-orange">Custom Solutions</div>
										<div class="p text-neutral-5">Over 200+ successful customisations. We fabricate and modify equipment to meet your exact needs. Our tailored solutions optimize operations and enhance your business.</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="catering-section" class="row catering position-relative">
				<div class="wave-set">
					<div class="wave" style="background-image: url('media/wave-green.svg');"></div>
					<div class="wave" style="background-image: url('media/wave-green.svg');"></div>
					<div class="wave" style="background-image: url('media/wave-green.svg');"></div>
				</div>
				<div class="squares" style="background-image: url('media/squares-green.svg');"></div>
				<div class="container space-250-top-bottom">
					<div class="columns small-12 medium-7">
						<div class="thumbnail"><img class="block" src="media/cutout-catering.png"></div>
					</div>
					<div class="columns small-12 medium-5">
						<div class="title h6 font-h strong text-uppercase inline space-25-top-bottom space-50-left-right opacity-75 fill-green radius-min">BGC for : Catering</div>
						<div class="heading h2 font-h strong space-50-top">Seamless Event Mastery</div>
						<div class="sub-heading h4 font-h strong space-50-top-bottom text-green">Complete Catering Solutions</div>
						<div class="description p space-50-bottom">Streamline catering with our range of buffet ware and advanced electrical kitchen appliances — essential tools for a seamless, successful service. From stylish presentation to efficient prep, our curated collections elevate your catering. Trust us for precision, convenience, and exceptional events.</div>
						<a href="#catalogue-section" class="button inline fill-green">Explore Products</a>
					</div>
					<div class="columns small-12">
						<div class="points space-150-top">
							<div class="point">
								<div class="card row fill-white box-shadow-green space-25 radius-50">
									<div class="columns small-5 large-3 space-25 inline-middle">
										<div class="icon"><img class="block" src="media/icons_starman_green.png"></div>
									</div>
									<div class="columns small-7 large-8 space-25 inline-middle">
										<div class="h4 font-h text-green">EXPERT SALES AGENTS</div>
									</div>
									<div class="columns small-12 space-25 large-8 large-offset-3">
										<ul>
											<li class="p">Deep knowledge of catering products.</li>
											<li class="p">Best product recommendations.</li>
											<li class="p">Excellent client relationship management.</li>
											<li class="p">Strong negotiation and sales skills.</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="point">
								<div class="card row fill-white box-shadow-green space-25 radius-50">
									<div class="columns small-5 large-3 space-25 inline-middle">
										<div class="icon"><img class="block" src="media/icons_caller_green.png"></div>
									</div>
									<div class="columns small-7 large-8 space-25 inline-middle">
										<div class="h4 font-h text-green">REMOTE CATERING SUPPORT</div>
									</div>
									<div class="columns small-12 space-25 large-8 large-offset-3">
										<ul>
											<li class="p">Quick online product assistance.</li>
											<li class="p">Efficient handling of bulk orders.</li>
											<li class="p">Expertise in product customization options.</li>
											<li class="p">Seamless support, no need for on-site visit.</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="bakery-section" class="row bakery position-relative">
				<div class="wave-set">
					<div class="wave" style="background-image: url('media/wave-red.svg');"></div>
					<div class="wave" style="background-image: url('media/wave-red.svg');"></div>
					<div class="wave" style="background-image: url('media/wave-red.svg');"></div>
				</div>
				<div class="squares" style="background-image: url('media/squares-red.svg');"></div>
				<div class="container space-250-top-bottom">
					<div class="columns small-12 medium-6">
						<div class="thumbnail"><img class="block" src="media/cutout-bakery.png"></div>
					</div>
					<div class="columns small-12 medium-5 medium-offset-1">
						<div class="title h6 font-h strong text-uppercase inline space-25-top-bottom space-50-left-right opacity-75 fill-red radius-min">BGC for : Bakerys</div>
						<div class="heading h2 font-h strong space-50-top">Precision Tools for Baking</div>
						<div class="sub-heading h4 font-h strong space-50-top-bottom text-red">Elevate your Culinary Art</div>
						<div class="description p space-50-bottom">Perfect your culinary creations with top-notch baking equipment, including premium bakeware, like moulds, mixers, and utensils, ensuring quality and precision. Our kitchen essentials combine functionality with excellence, supported by expert guidance to help your bakery exceed the highest standards.</div>
						<a href="#catalogue-section" class="button inline fill-red">Explore Products</a>
					</div>
					<div class="columns small-12">
						<div class="points space-150-top">
							<div class="point">
								<div class="card row fill-white box-shadow-red space-25 radius-50">
									<div class="columns small-12 medium-5 large-12 space-25">
										<div class="icon"><img class="block radius-25" src="media/point-bakery-1.jpg"></div>
									</div>
									<div class="columns small-12 medium-7 large-12 space-25">
										<div class="h4 font-h text-red">Product Assistance</div>
										<div class="p text-neutral-5">Receive expert guidance and advice from our experienced team. Our product consultations help you select the right equipment and supplies to meet your specific needs and achieve your business goals.</div>
									</div>
								</div>
							</div>
							<div class="point">
								<div class="card row fill-white box-shadow-red space-25 radius-50">
									<div class="columns small-12 medium-5 large-12 space-25">
										<div class="icon"><img class="block radius-25" src="media/point-bakery-2.jpg"></div>
									</div>
									<div class="columns small-12 medium-7 large-12 space-25">
										<div class="h4 font-h text-red">Baking Products</div>
										<div class="p text-neutral-5">Discover our extensive range of over 400+ specialized baking product SKUS, from ovens and molds to trays, cooling racks, and decor tools. We offer everything you need to elevate your creations and bake perfection.</div>
									</div>
								</div>
							</div>
							<div class="point">
								<div class="card row fill-white box-shadow-red space-25 radius-50">
									<div class="columns small-12 medium-5 large-12 space-25">
										<div class="icon"><img class="block radius-25" src="media/point-bakery-3.jpg"></div>
									</div>
									<div class="columns small-12 medium-7 large-12 space-25">
										<div class="h4 font-h text-red">Product Warranty</div>
										<div class="p text-neutral-5">Enjoy peace of mind with our comprehensive product warranty. We are committed to providing reliable and durable products, backed by our unwavering support  team, ready to assist you promptly and efficiently.</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End: Industry Section -->



		<!-- Brands Section -->
		<section id="brands-section" class="brands-section fill-dark space-250-top-bottom">
			<div class="row">
				<div class="container">
					<div class="columns text-center small-8 small-offset-2 medium-10 medium-offset-1 large-8 large-offset-2">
						<div class="h3 font-h strong text-blue ">Our Affiliate Brands</div>
					</div>
				</div>
			</div>
			<!-- Carousel -->
			<div class="carousel fade dark-mode small-card">
				<div class="carousel-controls row">
					<div class="container">
						<div class="columns small-6">
							<div class="scroll-button button scroll-left" data-dir="left" tabindex="-1"><span class="text-white material-symbols-rounded inline-middle" style="font-size: var(--h3); line-height: 1;">arrow_back</span></div>
						</div>
						<div class="columns small-6 text-right">
							<div class="scroll-button button scroll-right" data-dir="right" tabindex="-1"><span class="text-white material-symbols-rounded inline-middle" style="font-size: var(--h3); line-height: 1;">arrow_forward</span></div>
						</div>
					</div>
				</div>
				<div class="carousel-list">
					{% for post in collections.brands %}
					<div class="carousel-list-item">
						<div class="card fill-white space-50 radius-50 box-shadow-blue">
							<img class="block" loading="lazy" src="{{ post.data.thumbnail }}" alt="{{ post.data.title }}">
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</section>
		<!-- End: Brands Section -->



		<!-- Legacy Section -->
		<section id="legacy-section" class="legacy-section overflow-x-clip space-250-top-bottom">
			<div class="container">
				<div class="row">
					<div class="columns text-center small-12 medium-10 medium-offset-1 large-6 large-offset-3 space-25-bottom">
						<div class="h2 font-h text-blue text-uppercase">65 YEAR LEGACY</div>
						<div class="h3 font-h strong text-blue-dark">Milestones and Memories from over Six Decades!</div>
					</div>
					<div class="columns small-12 text-center space-50-left-right position-relative" style="font-size: 0;">
						<img class="block" src="media/cutout-legacy.png">
						<div class="film-cta h5 font-h strong fill-white text-blue-dark radius-25 space-50 space-75-left-right opacity-75 text-uppercase line-height-one">Watch the Brand Film</div>
					</div>
					<div class="columns small-12">
						<div class="video-embed radius-50 box-shadow-blue">
							<iframe class="radius-50 no-overflow" src="https://www.youtube-nocookie.com/embed/FsDKw6_a8j0?html5=1&color=white&disablekb=0&fs=0&autoplay=0&loop=0&modestbranding=1&playsinline=1&rel=0&showinfo=1&enablejsapi=1&mute=0&controls=1" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
						</div>
					</div>
					<div class="columns small-12 medium-10 medium-offset-1 large-8 large-offset-2 space-100-top text-center">
						<div class="h6"><span class="text-blue-dark">Founded in 1959,</span> BGC has evolved into a beacon of excellence under the visionary leadership of <span class="text-blue-dark">Mr. P. Jagadeesh Kumar</span>.</div>
						<div class="p space-50-top">Today, under the foresight of <span class="text-blue-dark">Mr. Jagadeesh Kumar, Mrs Sneha Jagadeesh, and Mr. Sunit Jagadeesh,</span> the brand continues to grow, aiming to extend its footprint across India and international markets. <span class="text-blue-dark">Through Transparency, Quality, and Unwavering Customer Satisfaction!</span></div>
					</div>
				</div>
				<div class="squares blue" style="background-image: url('media/squares-blue.svg');"></div>
				<div class="squares orange" style="background-image: url('media/squares-orange.svg');"></div>
			</div>
		</section>
		<!-- End: Legacy Section -->



		<!-- Fabrication Section -->
		<section id="fabrication-section" class="fabrication-section fill-orange-dark-dark">
			<div class="row img-cover" style="background-image: url('media/bg-fabrication.jpg');">
				<div class="container">
					<div class="columns small-12 medium-10 medium-offset-1 large-6 large-offset-6 space-250-top-bottom">
						<div class="card fill-white radius-50 space-100 box-shadow-orange" style="backdrop-filter: blur(10px) brightness(150%); -webkit-backdrop-filter: blur(10px) brightness(150%); background: rgba(246, 214, 175, 0.5);">
							<img class="block" src="media/brands/elina-logo.png" style="width: calc(var(--card)* 0.45);">
							<div class="h3 font-h strong text-orange-dark-dark space-50-top">Precision-Engineered Custom Kitchen Solutions</div>
							<div class="h5 font-h text-orange-dark-dark space-min-top">Custom Kitchen Equipment and Fabrication</div>
							<div class="p space-50-top-bottom">Transform your commercial kitchen spaces with our extensive range of top-tier kitchenware, bar equipment, and specialised fabrication solutions. Our commitment goes beyond the ordinary – ensuring that every element is meticulously crafted to suit your needs, where every detail matters, and excellence is guaranteed.</div>
							<a href="https://elina.so/" target="_blank" class="button fill-orange inline">Learn More</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End: Fabrication Section -->


		<!-- Reviews Section -->
		<section id="reviews-section" class="reviews-section space-250-top-bottom">
			<div class="row">
				<div class="container">
					<div class="columns text-center small-12 medium-10 medium-offset-1 large-8 large-offset-2">
						<div class="h2 font-h strong text-blue text-uppercase">Customer Reviews</div>
						<div class="h4 font-h text-blue-dark space-50-top-bottom">Experiences that speak for themselves</div>
					</div>
				</div>
			</div>
			<!-- Carousel -->
			<div class="carousel fade">
				<div class="carousel-controls row">
					<div class="container">
						<div class="columns small-6">
							<div class="scroll-button button scroll-left" data-dir="left" tabindex="-1"><span class="text-blue material-symbols-rounded inline-middle" style="font-size: var(--h3); line-height: 1;">arrow_back</span></div>
						</div>
						<div class="columns small-6 text-right">
							<div class="scroll-button button scroll-right" data-dir="right" tabindex="-1"><span class="text-blue material-symbols-rounded inline-middle" style="font-size: var(--h3); line-height: 1;">arrow_forward</span></div>
						</div>
					</div>
				</div>
				<div class="carousel-list">
					{% for post in collections.reviews %}
					<div class="carousel-list-item">
						<div class="card fill-white space-100 radius-50 box-shadow-blue">
							<div class="title space-25-bottom">
								<div class="h5 strong no-wrap space-min-bottom">{{ post.data.title }}</div>
								<div class="label text-neutral-4">
									{{ post.data.review-date }}
								</div>
							</div>
							<div class="stars space-50-bottom">
								<div class="h6 text-yellow">
								{% for star in (1..post.data.rating) %}
									&#11088;
								{% endfor %}
								</div>
							</div>
							<div class="review">
								<div class="p">{{ post.content  }}</div>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</section>
		<!-- END: Reviews Section -->



		<!-- FAQs Section -->
		<section id="faqs-section" class="faqs-section space-250-bottom">
			<div class="container">
				<div class="row">
					<div class="columns small-12 large-3 space-50-bottom">
						<div class="h2 font-h strong text-blue">Frequently Asked Questions</div>
					</div>
					<div class="columns small-12 large-8 large-offset-1">
						<div class="faqs-container">
							<input id="more-faqs" type="checkbox" name="more-faqs" class="more-faqs visuallyhidden">
							<div class="faqs">
								{% for post in collections.faqs %}
								<div class="faq">
									<input id="faq-{{ forloop.index }}" type="radio" name="faq" class="visuallyhidden" {% if forloop.first %}checked=""{% endif %}>
									<label for="faq-{{ forloop.index }}" class="question block row space-25-top-bottom">
										<div class="title columns small-11 space-25">
											<div class="p text-blue-dark-dark">{{ post.data.title }}&nbsp;</div>
										</div>
										<div class="toggle columns small-1"><div class="arrow"><span class="a1"></span><span class="a2"></span></div></div>
									</label>
									<div class="answer fill-light radius-50">
										<div class="p space-50">
											{{ post.content }}
										</div>
									</div>
								</div>
								{% endfor %}
							</div>
							<label class="show-faqs block text-center" for="more-faqs">
								<div class="button fill-white text-blue strong">Show All FAQs</div>
							</label>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End: FAQs Section -->





{% include 'parts/footer.liquid' %}
{% include 'parts/foot.liquid' %}
